@import url('./../../../index.css');

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.columnPeople {
    width: 100%;
}

.columnResults {
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 100%;
    z-index: 10;
}

.columnResults.active {
    left: 0;
}

@media screen and (min-width: 640px) {

    .columnPeople {
        width: 375px;
        box-shadow: inset  -1px 0px 0px rgba(0, 0, 0, 0.15);
    }

    .columnResults {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        flex: 1;
        padding: 0 100px;
        width: 100%;
        height: calc(100% - 52px);
    }


}