:root {
  /* Colors */
  --background-ravn-black: #121212;
  --color-text-dark: #333333;
  --color-text-light: #828282;
  --color-text-emphasis: #EC5757;

  /* Texts Sizes */
  --text-size-p1: 14px;
  --text-size-h2: 17px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
}

a {
  text-decoration: none;
}

/* Estilos del contenedor y columnas */
.container {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Estilos de la columna de personas */
.column-people {
  width: 100%;
}

/* Estilos de la columna de resultados de persona */
.column-results {
  width: 100%;
  display: none; 
}

/* Estilos específicos para desktop */
@media screen and (min-width: 768px) {
  .column-people {
    width: 22rem;
  }

  .column-results {
    display: block;
    flex: 1;
    padding: 0 100px;
    width: 100%;
  }
}