@import url('./../../../index.css');

.header {
    background: var(--background-ravn-black);
}

.link {
    text-decoration: none;
}

.container {
    position: relative;
    height: 52px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 0px 32px;
}

.heading {
    width: 100%;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.0125em;
    color: #FFFFFF;
    text-align: center;
}

.icon {
    position: absolute;
}

/* Estilos desktop */
@media screen and (min-width: 640px) {
    .heading {
        text-align: start;
    }
}